<section class="py-2">
    <div class="row">
        <div class="col-md-6 text-center">
            <h1 class="display-3 mt-3 pt-5">
                Web Development Ebook
            </h1><p class="lead">learn web development front to back</p>
            <form action="/charge" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js"
                    class="stripe-button"
                    data-key="{{stripePublishableKey}}"
                    data-amount = "2500"
                    data-name = "web development ebook"
                    data-description = "ebook written by brad traversy"
                    data-image= "/img/marketplace.png"
                    data-locale = "auto" >
                </script>
                <script>
                    //hide DEFAULT stripe buttoon
                    document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
                </script>
                    <button type="submit" class="btn btn-outline-dark text-white btn-lg"> Purchase for $25 </button>
            </form>

            <h1>Stay Updated!</h1>
            <form action='/signup' method='POST'>
            <input
                type='text'
                name='firstName'
                id='first-name'
                class='form-control'
                placeholder='First Name'
                />
            <input
                type='text'
                name='lastName'
                id='last-name'
                class='form-control'
                placeholder='Last Name'
                />
            <input
                type='email'
                name='email'
                id='email'
                class='form-control'
                placeholder='Email'
                />
            <button type='submit'>Sign-up</button>

            </form>
       
        </div>

        <div class="col-md-6">
            <img src="img/book.png" alt="book pic" class="img-fluid">
        </div>
    </div>
</section>